

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'variables';
@import 'mixins';
@import 'index';
@import 'about';
@import 'contact';
@import 'portfolio';
@import 'shop';
@import 'commissions';

body {
  background-color: $background-light;
  color: $secondary-color;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

.navbar {
  background-color: $accent-color;

  .nav-link {
    color: $secondary-color !important;

    &.active,
    &:hover {
      color: $primary-color !important;
    }
  }
}

footer {
  background-color: $secondary-color;
  color: white;

  a {
    color: $accent-color;

    &:hover {
      color: lighten($accent-color, 10%);
    }
  }
}


